<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzy.shortlink.project.dao.mapper.LinkAccessStatsMapper">

    <resultMap id="BaseResultMap" type="org.yzy.shortlink.project.dao.entity.LinkAccessStatsDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="gid" column="gid" jdbcType="VARCHAR"/>
            <result property="fullShortUrl" column="full_short_url" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="pv" column="pv" jdbcType="INTEGER"/>
            <result property="uv" column="uv" jdbcType="INTEGER"/>
            <result property="uip" column="uip" jdbcType="INTEGER"/>
            <result property="hour" column="hour" jdbcType="INTEGER"/>
            <result property="weekday" column="weekday" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gid,full_short_url,
        date,pv,uv,
        uip,hour,weekday,
        create_time,update_time,del_flag
    </sql>
</mapper>
